form {
  width:20%;
  margin: auto;
}
input {
  margin-top: 2%;
  width: 100%;
}
div{
  width: 20%;
  margin: auto;
}
ul .lista{

}
ul li {
  margin-top: 10px;
  background-color: lightsteelblue;
}
ul li.valittu::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;

}ul li.valittu {
background-color: red;
}
.pois {
  padding: 0 10px;

}
.pois:hover {
  color: green;
}
input[value="anna tuote"] {
  color: lightgrey;
}
input:focus {
  color: black;
}
#tyhjenna {
  margin: auto;
  padding-top: 25px;
  border-top: 1px solid black;
}
#tyhjenna button {
  border: none;
  background-color: transparent;
}
#tyhjenna button:hover {
  color:green;
  font-weight: 600;
}
